.profilePic {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

h3 {
  margin: 0px auto 10px;
}

p {
  margin: 0px auto 50px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(112, 114, 112);
  color: white;
  text-align: center;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgb(112, 114, 112);
  color: white;
  margin-bottom: 20px;
  padding: 10px;
}

main {
  padding: 20px 0 0 0;
}

/******************* Grid CSS *****************/
#grid {
  width: 600px;
  /* margin: 0 auto; */
  position: absolute;
}

#grid div {
  width: 200px;
  height: 200px;
  float: left;
}

#questionBox {
  border: 2px solid black;
  height: 400px;
  width: 500px;
  float: right;
}

#grid div i {
  font-size: 75px;
  display: block;
  text-align: center;
  margin-top: 75px;
  color: white;

}

#grid div:nth-child(2n) {
  background: blue;
}

#grid div:nth-child(2n+1) {
  background: magenta;
}

#game-start {
  margin-top: 50px;
}

form {
  float: left;
}
#newQuestionForm , #currentQuizSection {
  display: none;
}

#currentQuiz {
  float: right;
}

#leaderboard {
  width: 90%;
  margin: 90px auto;
}

table{
  border-spacing: 0;
  width: 80%;
  height: 500px;
  margin: 0px auto;
}

tr:first-child{
  background-color: #ccc;
}

th, td{
  margin: 0;
  padding: .5em 1.5em;
  text-align: center;
  border-width: 1px 0;
  border-color: #000;
  border-style: solid;
}